1Covert a iteger to a floatig-poit umber.
a=13
type(a)

float(a)

type(a)

2.Covert a float to a iteger.
int(a)

3.Covert a iteger to a strig.
str(a)

4.Covert a list to a tuple.
mylist = ["akash" ,"boy", 50]
print(mylist)


mytuple = tuple(mylist)
print(mytuple)

In [8]:
list(mytuple)

['akash', 'boy', 50]

In [9]:
def ConvertBinary(n):
    if n>1 : 
      ConvertBinary(n//2)
    print(n%2, end="")

ConvertBinary(15)

1111

In [10]:
x=13
print (x ,bool(x))

13 True